<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create new user</title>
</head>
<body>
<p>Create new user</p>
<br/>
<form th:method="POST" th:action="@{/creat}" th:object="${user}">
  <label for="name">Enter name: </label>
  <input type="text" th:field="*{name}" id="name" />
  <br/>
  <br/>
  <label for="lastname">Password: </label>
  <input type="text" th:field="*{password}" id="lastname" />
  <br/>
  <br/>
  <label for="email">Enter email: </label>
  <input type="text" th:field="*{email}" id="email" />
  <br/>
  <label for="ChooseRole">Choose role: </label>
  <select multiple id="ChooseRole" name="ChooseRole">
    <option th:each="role : ${roles}" th:value="${role}"
            th:text="${role.getRole()}">role
    </option>
  </select>
  <br/>
    <input type="submit" value="Create!"/>
  </label>
</form>
</body>
</html>